# Exclude exported CurseForge zip files

# Exclude exported Modrinth modpacks
*.mrpack
*.exe
config/spark/activity.json
extra
packwiz/config/sodium-fingerprint.json
packwiz/required_resources/packwiz
packwiz/packwiz
